/* --- Primary Color --- */
$color-primary: #4f46e5;

/* --- Neutral Color --- */
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #475467;

/* - Background Color - */
$color-base: #f9fafb;
